output
src/incremental_db
src/hps_isw_handoff
src/db
src/c5_pin_model_dump.txt
src/hps_sdram_p0_summary.csv
src/soc.sopcinfo
src/DE10.qws
src/.qsys_edit
src/soc
sw/**/target
sw/bsp
sw/app/release
gdbopxdriscv.ini
sw/app/CMakeLists.txt
