output
src/incremental_db
src/hps_isw_handoff
src/db
src/c5_pin_model_dump.txt
src/hps_sdram_p0_summary.csv
src/soc.sopcinfo
src/DE10.qws
src/.qsys_edit
src/soc
sw/**/target
sw/bsp
sw/app/release
gdbopxdriscv.ini
sw/app/CMakeLists.txt
src/de10_assignment_defaults.qdf
toolchain
src/mmap2tcp/target
dts/..module-common.o.cmd
dts/.Module.symvers.cmd
dts/.hello.ko.cmd
dts/.hello.mod.cmd
dts/.hello.mod.o.cmd
dts/.hello.o.cmd
dts/.module-common.o
dts/.modules.order.cmd
dts/Module.symvers
dts/abc.dtb
dts/hello.ko
dts/hello.mod
dts/hello.mod.c
dts/hello.mod.o
dts/hello.o
dts/modules.order
